%h2 Heap #{@heap.name}

%h4 Created at #{@heap.created_at}

%h3 Largest Object

%table
  %thead
    %tr
      %th Address
      %th Type
      %th Value
      %th Memsize
      %th Class Address
  %tbody
    - @heap.largest_objects.each do |entry|
      %tr
        %td= entry.heap_address
        %td= entry.entry_type
        %td
          = entry.truncated_value
          &hellip;
        %td= entry.memsize
        %td= entry.class_address
